
/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ------- */

:root {
	--couleur-orange-hex: #FFA101;
	--couleur-orange-c-hex: #FAE6B1;
	--couleur-orange-tc-hex: #FFF6DD;
	--couleur-bleu-f-hex: #31525B;
	--couleur-bleu-c-hex: #B3DEE5;
	--couleur-gris-hex: #F5F5F5;
	--couleur-noir-hex: #0C0600;
	
	--couleur-orange-rgb: 255, 161, 1;
	--couleur-orange-c-rgb: 250, 230, 177;
	--couleur-bleu-f-rgb: 49, 82, 91;
	--couleur-bleu-c-rgb: 179, 222, 229;
	--couleur-gris-rgb: 245, 245, 245;
	--couleur-noir-rgb: 12, 6, 0;

	/* Valeurs */
	font-size: 18px;
	--height-header: 128px;

	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 400;
	color: var(--couleur-noir-hex);
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.6rem;
	font-weight: 800;
}
h2 {
	font-size: 2rem;
	font-weight: 700;
}
h3 {
	font-size: 1.4rem;
	font-weight: 600;
}


header {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--couleur-gris-hex);
	box-sizing: border-box;
	height: var(--height-header);
	padding: calc(var(--height-header) / 4) 10vw;
}

header .logo {
	display: flex;
	justify-content: center;
	align-items: center;
    height: 100%;
	font-size: 1rem;
}

header .logo img {
	height: 100%;
}

header a {
	display: block;
	color: var(--couleur-noir-hex);
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 600;
	white-space: nowrap;
}

header ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 3vw;
	list-style: none;
}

header ul li {
	display: inline;
	position: relative;
}

header ul.nav li::after, header .mobile ul li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -10px;
	height: 2px;
	width: 0;
	background: var(--couleur-noir-hex);
	opacity: 0;
	transition: width 0.3s, left 0.3s, opacity 0.3s;
}

header ul.nav li:hover::after, header .mobile ul li:hover::after {
	left: 0;
	width: 100%;
	opacity: 1;
}

header ul.compte {
	gap: 1.2em;
}

header a.burger {
	display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 0.45em;
	padding: 0.2rem;
	background-color: transparent;
	transition: background-color 0.3s;
}
header a.burger:hover {
	background-color: rgba(var(--couleur-orange-rgb), 0.75);
}

/* HEADER MOBILE */
header .mobile {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1rem 0;
	z-index: 999;
	background-color: var(--couleur-gris-hex);
	transform: translate(-110%, 100%);
	opacity: 0;
	transition: transform 0.3s, opacity 0.3s;
}
header .mobile.visible {
	transform: translate(0, 100%);
	opacity: 1;
}

header .mobile ul {
	flex-direction: column;
	gap: 3rem;
}



footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--couleur-bleu-f-hex);
	padding: 2vw 7vw;
	font-size: 1rem;
	font-size: 1rem;
}

footer .logo {
	height: 100%;
}

footer .logo img {
	height: 7vw;
}

footer .content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
    justify-content: center;
	gap: 1.2em;
	width: 100%;
	padding-left: 7vw;
}


footer .content .separateur {
	width: 100%;
	height: 2px;
	background-color: var(--couleur-bleu-c-hex);
}
footer .content .partie:has(span.separateur) {
	padding: 0 5vw;
}

footer .content .separateur-v {
	width: 2px;
	background-color: var(--couleur-bleu-c-hex);
}

footer .content .partie {
	display: flex;
	justify-content: space-between;
    align-items: stretch;
	width: 100%;
	color: #fff;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 0.8em;
}

footer .content .partie#2 {
	font-size: 0.8em;
}

footer .content .partie a:not(.bouton, .bouton-icone) {
	color: #fff;
	text-decoration: underline;
	font-weight: 700;
}

footer .content .partie div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1vw;
}

footer .content .partie#p2 div {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	gap: 0.5em;
}
footer .content .partie#p2 div:nth-of-type(1), footer .content .partie#p2 div:nth-of-type(4) {
    align-items: stretch;
}

footer .content .partie div#newsletter {
	justify-content: flex-start;
	gap: 1vw;
}

footer .content .partie div#reseaux {
	justify-content: flex-end;
	gap: 1vw;
}

footer .content .partie div#reseaux a:not(.bouton, .bouton-icone) {
	font-size: 2em;
	color: var(--couleur-bleu-c-hex);
}

footer .content .partie#p2 div#droits {
	opacity: 0.5;
}

footer .content .partie#p2 div#droits {
	opacity: 0.5;
}


main {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	padding: 0;
	margin: 3vw 8vw;
}



section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 1.5rem;
}



/* SLIDESHOW */
slideshow {
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
}

slideshow slides {
	display: flex;
	width: 100%;
	height: 35vw;
	border-radius: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
}

slideshow slide {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: rgba(0,0,0,0.2);
	min-width: 100%;
	height: 100%;
}

slideshow slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

slideshow slide content {
	position: absolute;
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
	gap: 2em;
	background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, transparent 80%);
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 3rem;
	box-sizing: border-box;
}

slideshow slide content div {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
slideshow slide content div:last-of-type {
	white-space: nowrap;
}

slideshow slide content div#text {
	text-shadow: 0px 5px 10px rgba(0,0,0,1);
}

slideshow navigation {
	position: absolute;
	top: 2em;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	box-sizing: border-box;
}

slideshow navigation a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--couleur-noir-hex);
	font-size: 1.5em;
	padding: 0.2em;
	height: 1em;
	aspect-ratio: 2 / 1;
	background-color: rgba(var(--couleur-orange-rgb), 0.6);
	border-radius: 2rem;
	transition: background-color 0.3s;
}

slideshow navigation a:hover {
	background-color: rgba(var(--couleur-orange-rgb), 1);
}

slideshow navigation indicator {
	display: flex;
	justify-content: center;
	align-items: center;
}

slideshow navigation indicator span {
	height: 0.6em;
	aspect-ratio: 3 / 1;
	border-radius: 1em;
	margin: 0.5em;
	background-color: var(--couleur-orange-hex);
	opacity: 0.5;
	transition: aspect-ratio 0.3s, opacity 0.3s;
}

slideshow navigation indicator span.selected {
	aspect-ratio: 6 / 1;
	opacity: 1;
}


/* COMMENTAIRES */

section#reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section#reviews .wrapper {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	font-size: 1rem;
    width: 100%;
	gap: 3em;
}

section#reviews .wrapper .reviews {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: nowrap;
	overflow: hidden;
	gap: 3em;
}

section#reviews .wrapper .review {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	background-color: var(--couleur-orange-tc-hex);
	min-width: 23em;
	max-width: 23em;
	padding: 20px;
	border-radius: 16px;
	gap: 1em;
	border: 2px solid transparent;
	box-sizing: border-box;
	transition: border-color 0.3s;
}

section#reviews .wrapper .selected {
	border-color: var(--couleur-orange-hex) !important;
}

section#reviews .review .separator {
	height: 100%;
	width: 2px;
	background-color: var(--couleur-bleu-f-hex);
}

section#reviews .review .info, section#reviews .review .details {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1em;
}

section#reviews .review .info img {
	height: 35px;
	aspect-ratio: 1 / 1;
	border-radius: 50px;
}

section#reviews .review .info h2 {
	font-weight: 500;
	font-size: 18px;
}

section#reviews .review .info .contact {
	margin-right: auto;
}

section#reviews .review .info .rating::after {
	content: url(img/icons/rating.svg);
	margin-left: 5px;
}

section#reviews .review p {
	background-color: #fff;
	border-radius: 16px;
	font-size: 1.5em;
	height: 100%;
	padding: 1em;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

section#reviews .wrapper .pagination {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
	margin-top: 30px;
}

section#reviews button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--couleur-noir-hex);
	font-size: 1.2em;
	padding: 0.2em;
	height: 2em;
	aspect-ratio: 2 / 1;
	background-color: rgba(var(--couleur-orange-rgb), 0.6);
	border: none;
	border-radius: 2em;
	transition: background-color 0.3s;
}

section#reviews button:hover {
	background-color: rgba(var(--couleur-orange-rgb), 1);
}

section#etapes .etapes {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	text-align: center;
}

section#etapes .etapes .etape {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 25%;
	gap: 2rem;
}

section#etapes .etapes .etape img {
	width: 100%;
	border-radius: 8px;
}

section#etapes .etapes .fleche {
	margin: auto 0;
	background-color: var(--couleur-orange-c-hex);
	padding: 2rem 0.8rem;
	border-radius: 50px;
	font-size: 2rem;
}

section#etapes .suivi {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 72%;
	box-sizing: border-box;
}

section#etapes .suivi span:not(.ligne) {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--couleur-bleu-c-hex);
	width: 3rem;
	height: 3rem;
	aspect-ratio: 1 / 1;
	border-radius: 50px;
	font-weight: 700;
	font-size: 36px;
	color: var(--couleur-bleu-f-hex);
}

section#etapes .suivi span.ligne {
	background-color: var(--couleur-bleu-c-hex);
	margin: 1rem;
	padding: 0.5rem;
	border-radius: 50px;
	width: 100%;
}



section#abonnements {
	color: var(--couleur-bleu-f-hex);
}

section#abonnements .cartes {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

section#abonnements .carte {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	padding: 20px;
	max-width: 20%;
	background-color: var(--couleur-gris-hex);
	color: var(--couleur-bleu-f-hex);
	border-radius: 16px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	transition: transform 0.4s;
}
section#abonnements .carte:hover {
	transform: scale(105%) translateY(-10px);
}

section#abonnements .carte img {
	width: 35%;
}

section#abonnements .carte ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 1.2rem;
	list-style: none;
	padding: 0;
	width: 95%;
	font-size: 1.3rem;
	font-weight: 500;
}
section#abonnements .carte li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
section#abonnements .carte li::before {
	content: "\f00c";
	font-family: "Font Awesome 6 Free";
	margin-right: 20px;
	font-weight: 600;
	font-size: 1.1em;
}
section#abonnements .carte li#non::before {
	content: "\f00d";
	padding: 0 0.18em;
}



section#abonnements .carte#recommande {
	background-color: rgba(var(--couleur-bleu-c-rgb), 0.75);
}

section#abonnements .carte#recommande span {
	color: #fff;
	background-color: var(--couleur-bleu-f-hex);
	padding: 10px;
	border-radius: 50px;
	font-weight: 700;
	font-size: 15px;
	margin-left: auto;
	margin-bottom: -10px;
}

section#abonnements .prix {
	font-weight: 500;
	font-size: 1.3rem;
	padding: 5px 10px;
	border-radius: 8px;
	background-color: var(--couleur-bleu-c-hex);
}






.filtre-mobile{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    text-align: center;
    padding: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.filtre-mobile i {
    margin-left: 5px;
    font-size: 1.5em;
}

.filtre-mobile:hover{
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.30);;
}







h1.bleu-f {
	color: var(--couleur-bleu-f-hex);
}


/* ---- INPUT ---- */
input[type="text"] {
	border: none;
	font-weight: 500;
	font-size: 20px;
	padding: 7px 10px;
	border-radius: 8px;
	background-color: rgba(var(--couleur-bleu-f-rgb), 0.25);
	color: #fff;
}

input[type="text"]::placeholder {
	font-style: italic;
	color: rgba(var(--couleur-bleu-f-rgb), 0.75);
	font-weight: 500;
	font-size: 15px;
}


input[type="text"].blanc {
	background-color: rgba(255,255,255, 0.35);
}
input[type="text"].bleu-c {
	background-color: rgba(var(--couleur-bleu-c-rgb), 0.5);
}


input[type="text"].blanc::placeholder {
	color: rgba(0,0,0, 0.2);
}
input[type="text"].bleu-c::placeholder {
	color: rgba(var(--couleur-bleu-f-rgb), 0.75);
}


/* ---- BOUTONS ---- */

a.bouton, a.bouton-icone {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	text-decoration: none;
	border-radius: 0.45rem;
	font-weight: 700;
	
	color: var(--couleur-orange-hex);
	border: 2px solid var(--couleur-orange-hex);
	background-color: transparent;
	transition: background-color 0.3s, color 0.3s;
}
a.bouton:hover, a.bouton-icone:hover, a.bouton-icone.hover {
	color: #fff;
	background-color: var(--couleur-orange-hex);
}

a.bouton-icone::after {
	content: "\f08e";
	font-family: "Font Awesome 6 Free";
	margin-left: 0.5ch;
	font-weight: 600;
}


a.bouton.bleu-f, a.bouton-icone.bleu-f {
	color: var(--couleur-bleu-f-hex);
	border-color: var(--couleur-bleu-f-hex);
}

a.bouton.bleu-c, a.bouton-icone.bleu-c {
	color: var(--couleur-bleu-c-hex);
	border-color: var(--couleur-bleu-c-hex);
}

a.bouton.orange-c, a.bouton-icone.orange-c {
	color: var(--couleur-orange-c-hex);
	border-color: var(--couleur-orange-c-hex);
}





a.bouton.bleu-f:hover, a.bouton-icone.bleu-f:hover, a.bouton.bleu-f.hover, a.bouton-icone.bleu-f.hover {
	color: #fff;
	border: 2px solid var(--couleur-bleu-f-hex);
	background-color: var(--couleur-bleu-f-hex);
}

a.bouton.bleu-c:hover, a.bouton-icone.bleu-c:hover, a.bouton.bleu-c.hover, a.bouton-icone.bleu-c.hover {
	color: var(--couleur-bleu-f-hex);
	border: 2px solid var(--couleur-bleu-c-hex);
	background-color: var(--couleur-bleu-c-hex);
}

a.bouton.orange-c:hover, a.bouton-icone.orange-c:hover, a.bouton.orange-c.hover, a.bouton-icone.orange-c.hover {
	color: #fff;
	border: 2px solid var(--couleur-orange-c-hex);
	background-color: var(--couleur-orange-c-hex);
}




a.bouton-icone.plus::after {content: "\2b";}
a.bouton-icone.moins::after {content: "\f068";}
a.bouton-icone.valider::after {content: "\f00c";}
a.bouton-icone.dropdown::after {content: "\f078";}
a.bouton-icone.dropup::after {content: "\f077";}
a.bouton-icone.suivant::after {content: "\f054";}
a.bouton-icone.precedent::after {content: "\f053";}
a.bouton-icone.favoriser::after {content: "\f004"; font-weight: 400;}





/* VERSION MOBILE */

@media screen and (max-width: 900px) {
	:root {
		font-size: 13px;
		--height-header: 64px;
	}

	header a.burger {
		display: flex;
	}
	header ul.nav {
		display: none;
	}
	header ul.compte li#compte {
		display: none;
	}

	section#recettes {
		flex-direction: column;
		align-items: stretch;
	}
	section#recettes aside {
		display: none;
	}

    .filtre-mobile {
		display: flex;
	}

	section#recettes .recettes {
		align-items: center;
	}

	slideshow slides {
		height: 50vw;
	}
	slideshow slide content {
		padding: 1em;
	}

	section#etapes .suivi {
		display: none;
	}
	section#etapes .etapes {
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		flex-direction: column;
		gap: 25px;
	}
	section#etapes .etapes .etape {
		max-width: 85%;
	}
	section#etapes .etapes .etape h3 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		gap: 2rem;
	}
	section#etapes .etapes .etape h3::before {
		content: "2";
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--couleur-bleu-c-hex);
		width: 3rem;
		height: 3rem;
		aspect-ratio: 1 / 1;
		border-radius: 50px;
		font-weight: 700;
		font-size: 36px;
		color: var(--couleur-bleu-f-hex);
	}
	section#etapes .etapes .etape:first-of-type h3::before {
		content: "1";
	}
	section#etapes .etapes .etape:last-of-type h3::before {
		content: "3";
	}

	section#etapes .etapes .fleche {
		display: none;
		padding: 0.4rem 2.6rem;
	}
	section#etapes .etapes .fleche i {
		transform: rotate(90deg);
	}

	section#abonnements .cartes {
		flex-direction: column;
		gap: 2rem;
	}
	section#abonnements .carte {
		max-width: 80%;
	}
	section#abonnements .prix {
		font-size: 1rem
	}

	section#reviews .wrapper {
		font-size: 0.65rem;
	}


	footer {
		padding: 1em;
	
	}
	footer .content {
		padding-left: 1em;
	}

	footer .content .partie {
		justify-content: space-around;
		align-items: flex-start;
		gap: 1em;
	}
	footer .content .partie#p2 div {
		justify-content: space-around;
	}
	footer .content .partie div#newsletter, footer .content .partie .separateur-v {
		display: none;
	}
	footer .content .partie#p2 div img {
		width: 100%;
	}
}


