/*  */

section#recettes {
	flex-direction: row;
	align-items: flex-start;
}

section#recettes aside{
    display: flex;
    flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
    gap: 30px;
}

/* Le filtre */

section#recettes .filtre{
    max-width: 310px;
    padding: 30px;
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

}

section#recettes .filtre .titre-filtre{
    display: flex;
    justify-content: center;
    width: 100%;
}

section#recettes .filtre h3 {
    text-align: center;
}

section#recettes .filtre .categorie-filtre p {
    margin-bottom: 5px;
}

section#recettes .filtre .categorie-filtre .in-filtre{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

section#recettes .ma-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 310px;
    padding: 30px;
    gap: 15px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

section#recettes .ma-box p {
    text-align: center;
}

section#recettes .recettes{
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	max-width: 1200px;
    width: 100%;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;

}

/* Cartes des recettes */



section#recettes .recettes .carte-recette{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 305px;
    width: 100%;
    border: 1px solid white;
    padding: 20px 10px;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: box-shadow 300ms;
    cursor: pointer;
}

section#recettes .recettes .carte-recette:hover{
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
}

section#recettes .recettes .carte-recette .timer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
}

section#recettes .recettes .carte-recette .timer i{
    margin: 0;
}

section#recettes .recettes .carte-recette .boutons-carte-recette{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
	gap: 15px;
	
}

section#recettes .recettes .carte-recette img{
	border-radius: 8px;
}

/* Pop up des cartes */

section#recettes .overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.15);
	
}

section#recettes .overlay .popup{
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 70vw;
	top: 50%;
	left: 50%;
	padding: 25px;
	background: white;
	transform: translate(-50%, -50%);
	border-radius: 16px;
	gap: 25px;
	margin: 0 50px;
}

section#recettes .overlay .popup .fermer-recette{
	text-decoration: none;
	color: var(--couleur-bleu-f-hex);
	position: absolute;
	top: 30px;
	right: 30px;
}

section#recettes .overlay .popup .fermer-recette i {
	font-size: 2em;
}

section#recettes .overlay .popup h3 {
	text-align: center;
}

section#recettes .overlay .popup img {
	width: 70vw;
	height: 50vh;
	object-fit: cover;
	border-radius: 8px;
}

section#recettes .overlay .popup .avis-boutons-ajouter-favoris{
	display: flex;
	justify-content: space-between;
	margin: 0 50px;
}

section#recettes .overlay .popup .avis-boutons-ajouter-favoris .avis-popup-recette{
	display: flex;
	align-items: center;

}

section#recettes .overlay .popup .avis-boutons-ajouter-favoris .avis-popup-recette .etoile-avis{
	color: var(--couleur-orange-hex);
}

section#recettes .overlay .popup .avis-boutons-ajouter-favoris .avis-popup-recette p {
	margin-right: 5px;
}

section#recettes .overlay .popup .avis-boutons-ajouter-favoris .boutons-ajout-fav{
	display: flex;
	gap: 10px;
}

section#recettes .overlay .popup .temps-preparation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 50px;
}

section#recettes .overlay .popup .temps-preparation .temps-preparation-minutes{
	font-size: 22px;
}

section#recettes .overlay .popup .temps-preparation .temps-preparation-icone{
	display: flex;
	align-items: center;
	gap: 10px;
}

section#recettes .overlay .popup .temps-preparation i{
	font-size: 2em;
}

section#recettes .overlay .popup  .allergenes{
	display: flex;
	align-items: center;
	margin: 0 50px;
	justify-content: space-between;
	gap: 10px;
}

section#recettes .overlay .popup  .allergenes .infos-allergenes{
	display: flex;
	align-items: center;
	gap: 10px;	
}

section#recettes .overlay .popup  .allergenes .infos-allergenes i {
	font-size: 1.25em;
}

section#recettes .overlay .popup  .allergenes .infos-allergenes h3 {
	margin-right: 5px;
}

section#recettes .overlay .popup  .allergenes .infos-allergenes .les-allergenes{
	display: flex;
	gap: 10px;
}

@media screen and (max-width : 800px){
	section#recettes .overlay .popup{
		margin: 0;
	}

	section#recettes .overlay .popup#titre-carte-recette-focus{
		margin-top: 10px;
	}

	section#recettes .overlay .popup .fermer-recette{
		top: 1%;
		right: 1%;
	}

	section#recettes .overlay .popup img{
		height: 20vh;
		
	}

	

	section#recettes .overlay .popup .temps-preparation {
		gap: 10px;
		justify-content: center;
	}

	section#recettes .overlay .popup .temps-preparation .temps-preparation-icone h3 {
		display: none;
	}

	section#recettes .overlay .popup .allergenes{
		flex-direction: column;
	}

	section#recettes .overlay .popup .avis-boutons-ajouter-favoris{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 15px 0;
		gap:15px;
	}

}



