/*  les recettes */
main{
	margin: 50px 150px;
}
/* Bandeau */
.bandeau{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    text-align: center;
    padding: 30px;
	
}

.bandeau h1{
	margin-bottom: 30px	;
	color: var(--couleur-bleu-f-hex);
}

/*  */

section {
    display:flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: flex-start;
	margin: 25px 0;
}

section#recettes aside{
    display: flex;
    flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
    gap: 30px;
}

/* Le filtre */

.filtre{
    max-width: 310px;
    padding: 30px;
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

}

.filtre .titre-filtre{
    display: flex;
    justify-content: center;
    width: 100%;
}

.filtre h3 {
    text-align: center;
}

.categorie-filtre p {
    margin-bottom: 5px;
}

.in-filtre{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.ma-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 310px;
    padding: 30px;
    gap: 15px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.ma-box p {
    text-align: center;
}

section#recettes .recettes{
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	max-width: 1200px;
    width: 100%;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;

}

/* Cartes des recettes */



section#recettes .recettes .carte-recette{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 305px;
    width: 100%;
    border: 1px solid white;
    padding: 20px 10px;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: box-shadow 300ms;
    cursor: pointer;
}

section#recettes .recettes .carte-recette:hover{
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
}

section#recettes .recettes .carte-recette .timer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
}

section#recettes .recettes .carte-recette .timer i{
    margin: 0;
}

section#recettes .recettes .carte-recette .boutons-carte-recette{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
	gap: 15px;
	
}

section#recettes .recettes .carte-recette img{
	border-radius: 8px;
}

/* Pop up des cartes */

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.15);
	
}

.overlay .popup{
	display: flex;
	flex-direction: column;
	
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 25px;
	background: white;
	transform: translate(-50%, -50%);
	border-radius: 16px;
	gap: 25px;
	margin: 0 50px;
}

.overlay .popup .fermer-recette{
	text-decoration: none;
	color: var(--couleur-bleu-f-hex);
	position: absolute;
	top: 30px;
	right: 30px;
}

.overlay .popup .fermer-recette i {
	font-size: 2em;
}

.overlay .popup h3 {
	text-align: center;
}

.overlay .popup img {
	width: 70vw;
	height: 50vh;
	object-fit: cover;
	border-radius: 8px;
}

.overlay .popup .avis-boutons-ajouter-favoris{
	display: flex;
	justify-content: space-between;
	margin: 0 50px;
}

.overlay .popup .avis-boutons-ajouter-favoris .avis-popup-recette{
	display: flex;
	align-items: center;

}

.overlay .popup .avis-boutons-ajouter-favoris .avis-popup-recette .etoile-avis{
	color: var(--couleur-orange-hex);
}

.overlay .popup .avis-boutons-ajouter-favoris .avis-popup-recette p {
	margin-right: 5px;
}

.overlay .popup .avis-boutons-ajouter-favoris .boutons-ajout-fav{
	display: flex;
	gap: 10px;
}

.overlay .popup .temps-preparation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 50px;
}

.overlay .popup .temps-preparation .temps-preparation-minutes{
	font-size: 22px;
}

.overlay .popup .temps-preparation .temps-preparation-icone{
	display: flex;
	align-items: center;
	gap: 10px;
}

.overlay .popup .temps-preparation i{
	font-size: 2em;
}

.overlay .popup  .allergenes{
	display: flex;
	align-items: center;
	margin: 0 50px;
	justify-content: space-between;
	gap: 10px;
}

.overlay .popup  .allergenes .infos-allergenes{
	display: flex;
	align-items: center;
	gap: 10px;	
}

.overlay .popup  .allergenes .infos-allergenes i {
	font-size: 1.25em;
}

.overlay .popup  .allergenes .infos-allergenes h3 {
	margin-right: 5px;
}

.overlay .popup  .allergenes .infos-allergenes .les-allergenes{
	display: flex;
	gap: 10px;
}



@media screen and (max-width: 1815px) {
	section#recettes .recettes{
		width: 80%;
	}
}

@media screen and (max-width: 1450px) {
	section#recettes .recettes{
		max-width: 500px;
	}
}
