.bandeau{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    text-align: center;
    padding: 30px;
	
}
.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: fit-content;
}
.Formulaire{
    background-color: var(--couleur-orange-c-hex);
    border-radius: 50px;
    align-items: flex-start;
    display: flex;
    gap: 10px;
    padding: 15px 50px;
    position: relative;
    width: fit-content;
}
.Formulaire p{
    font-weight: bold;
}   

.choisir{
    width: fit-content;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-items: center;
    display: flex;
}

.mot{
    margin: 25px;
}
.haha{
    margin: 0%;
}

@media screen and (max-width: 720px){
    body{
       
    }
    main{
        display: block;
        order: 3;
        background: plum;
    }
    .cartes{
        flex-direction: column;
    }
    .lol, .cartes{
        width: 100%;
    }
}
