/* Tatiana - inscription*/
.bando {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 30px 0px;
	color: var(--couleur-bleu-f-hex);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	border-radius: 16px;
}

section#champs .logo-large {
	width: 15%;
	margin: 0 auto;
}

section#champs {
	display: flex;
	align-items: stretch;
	margin: 0 auto;
	width: 50%;
}

section#champs .livraison {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

section#champs .livraison input:nth-of-type(1) {
	width: 100%;
}

section#champs .livraison input:nth-of-type(2) {
	width: 50%;
}

section#champs p#deuxieme-adresse {
	font-style: italic;
	color: rgba(var(--couleur-bleu-f-rgb), 0.75);
	font-weight: 500;
	font-size: 15px;
}


section#champs .suivant {
	display: flex;
	justify-content: center;
}

section#champs .deux-boutons {
	display: flex;
	justify-content: center;
	gap: 1.5em;
}

section#champs img#moyens_paiement {
	width: 17rem;
	margin: auto;
}

section#livraison {
	width: 30%;
	box-shadow: 0px 10px 40px rgb(0 0 0 / 15%);
	border-radius: 1rem;
	padding: 2rem 0.8rem;
	margin: 0 auto;
	gap: 1rem;
}

section#livraison .adresses {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

section#livraison .adresses .ligne {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	gap: 0.5rem;
}