/* Tatiana - inscription*/
.bando {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 30px 0px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	border-radius: 16px;
}

.bando h3 {
	color: var(--couleur-bleu-f-hex);
}

.logogrande {
	width: 12%;
	margin: auto;
}

section#champs {
	display: flex;
	align-items: stretch;
	margin: 0 auto;
	width: 50%;
}

.livraison {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.livraison input:nth-of-type(1) {
	width: 100%;
}
.livraison input:nth-of-type(2) {
	width: 50%;
}

.deuxieme_adresse {
	font-style: italic;
	color: rgba(var(--couleur-bleu-f-rgb), 0.75);
	font-weight: 500;
	font-size: 15px;
}



.bouton_centre {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.deuxboutons {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
	margin-bottom: 30px;
}

.lyra {
	text-align: center;
	font-size: 18px;
}

.cartes {
	display: flex;
}

.cartes img {
	width: 15rem;
	margin: auto;
}

i {
	padding: 5px;
}

