.bandeau{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    text-align: center;
    padding: 30px;
	
}



.bandeau h1{
	color: var(--couleur-bleu-f-hex);
}

.le-panier{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

.le-panier #infos-panier{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: center;
    
}

.le-panier #infos-panier #photo-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    padding: 15px;
    
}

.le-panier #infos-panier #photo-box #quantite-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--couleur-bleu-f-hex);
    border-radius: 8px;
    padding: 2px 4px;

}
.le-panier #infos-panier #photo-box #quantite-box a, span{
    color: var(--couleur-bleu-f-hex);
    
}

.le-panier #infos-panier #photo-box #quantite-box span{
    font-size: 1.3rem;
    border-left: 2.5px solid var(--couleur-bleu-f-hex);
    border-right: 2.5px solid var(--couleur-bleu-f-hex);
    padding: 0 5px;
}


.le-panier #infos-panier #prix-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 30px 0;
}

.le-panier #infos-panier #prix-box h2{
    margin-bottom: 15px;
}



.le-panier #les-recettes-panier{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
}

.le-panier #les-recettes-panier .recettes-mobile{
    display: none;
}

.le-panier #les-recettes-panier .recette-panier{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 97%;
    justify-content: space-between;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 10px;

}

.le-panier #les-recettes-panier .recette-panier .photo-titre-recette-panier{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.le-panier #les-recettes-panier .recette-panier .photo-titre-recette-panier .titre-recette-panier{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.le-panier #les-recettes-panier .recette-panier .photo-titre-recette-panier  img{
    max-width: 140px;
    width: 80vw;
    border-radius: 8px;
}
.le-panier #les-recettes-panier .recette-panier .bouton-recette-panier{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    
}



#boutons-retour-suivant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media screen and (max-width : 1055px){
    .le-panier #les-recettes-panier .recette-panier .bouton-recette-panier{
        flex-direction: column;
    }
}

@media screen and (max-width : 900px) {
    .le-panier{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .le-panier #les-recettes-panier .recette-panier .bouton-recette-panier{
        flex-direction: row;
    }

    .le-panier #les-recettes-panier{
        width: 80%;
        align-items: center;
    }

    .le-panier #les-recettes-panier .recettes-mobile{
        display: flex;
        padding: 15px;
        color: var(--couleur-bleu-f-hex);
    }

}

@media screen and (max-width : 720px){
    .le-panier #les-recettes-panier .recette-panier{
        flex-direction: column;
    }

    .le-panier #les-recettes-panier .recette-panier .photo-titre-recette-panier{
        justify-content: space-around;
        width: 80%;
    }

    .le-panier #les-recettes-panier .recette-panier .bouton-recette-panier{
        flex-direction: row;
    }
}








