.bandeau{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    text-align: center;
    padding: 30px;
	
}

.bandeau h1{
	color: var(--couleur-bleu-f-hex);
}

.le-panier{
    display: flex;
    justify-content: space-between;
}

.le-panier#infos-panier{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.le-panier#infos-panier .photo-box{
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

}